

<div class="card" style="width: 50rem;">
	<img src="{{ asset('build/images/app/white_board_explaining.gif') }}" class="card-img-top" style="height:300px;" "alt="FabLab">
	<div class="card-body">
		<h3 class="card-title text-center app-text-blue01-site">Les prochaines formations</h3>
		<p class="card-text"></p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">La découpe Laser niveau 1 : 16/11/2021</li>
		<li class="list-group-item">L'impression 3D niveau 2 : 23/11/2021</li>
		<li class="list-group-item">Scanner 3D niveau 1 : 30/11/2021</li>
		<li class="list-group-item">Conférence base de la domotique : 15/12/2021</li>
	</ul>
	<div class="card-body">
		<a href="#" class="card-link">S'inscrire ...</a>
		{# <a href="#" class="card-link">Another link</a> #}
	</div>
</div>