<!-- Modal -->
<div class="modal fade" id="modalAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    	<div class="modal-content">
			<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">{{ app_organization }} {{ app_site }}</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        		
      		</div>
			<div class="modal-body">
			<p>
      		Adresse : 350 Rue de l'Aven, 34980 Saint-Gély-du-Fesc<br>
      		Téléphone : 06 xx xx xx xx<br>
      		mail : contact@labsaintgely.org<br>
      		</p>
      			<div class="ratio ratio-1x1">
    				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.6022900511534!2d3.8121010515016898!3d43.677240579018026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6abc5298416c3%3A0xddf1590ae8465326!2s350%20Rue%20de%20l&#39;Aven%2C%2034980%20Saint-G%C3%A9ly-du-Fesc!5e0!3m2!1sfr!2sfr!4v1632068870255!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
      		<div class="modal-footer">
        		{# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> #}
        		{{ action('button', 'close', '', {'data-bs-dismiss': 'modal'}) | raw }}
                {# <button type="button" class="btn btn-primary">Save changes</button> #}
      		</div>
      	</div>
	</div>
</div>