{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/modalOpeningHoursContent.html.twig - date : 11 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

<table class="table text-center">
	<thead>
		<tr>
			<th scope="col">Jours</th>
			<th scope="col">Horaires</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Lundi</td>
			<td>Fermé</td>
		</tr>
		<tr>
			<td>Mardi</td>
			<td>09h30 - 12h00</td>
		</tr>
		<tr>
			<td>Mercredi début février 2023</td>
			<td>14h00 - 17h00</td>
		</tr>
		<tr>
			<td>Jeudi début février 2023</td>
			<td>10h00 - 12h00<br>15h00 - 18h00</td>
		</tr>
		<tr>
			<td>Vendredi</td>
			<td>Fermé</td>
		</tr>
		<tr>
			<td>Samedi</td>
			<td>Suivant projet (prévision 2023)</td>
		</tr>
		<tr>
			<td>Dimanche</td>
			<td>Fermé</td>
		</tr>
	</tbody>
</table>
<p class="text-center">Ces horaires prévisionnels sont susceptibles d'évolution.<br> Voir aussi l'indicateur d'ouverture en haut à droite de l'écran.</p>
