{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/modalAddressContent.html.twig - date : 11 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

<p class="app-text-blue01-site rounded">
- Adresse : L'Atelier des Projets<br>- 235 Rue de l'Aven, 34980 Saint-Gély-du-Fesc<br>
- Téléphone : 06 81 31 52 45 / 06 80 31 58 26<br>
- Courriel : contact@fablabsaintgely.org<br>
</p>
<div class="ratio ratio-1x1">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.6022900511534!2d3.8121010515016898!3d43.677240579018026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6abc5298416c3%3A0xddf1590ae8465326!2s350%20Rue%20de%20l&#39;Aven%2C%2034980%20Saint-G%C3%A9ly-du-Fesc!5e0!3m2!1sfr!2sfr!4v1632068870255!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>