{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/participate_adventure.html.twig - date : 3 nov. 2021
 
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'app' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block app_central %}

<section class="container-fluid">
	<article class="container py-4">
	 	<header class="pb-5 mb-4 bg-light rounded-3">
	 		<div class="container-fluid py-5">
        	<h1 class="display-5 fw-bold app-text-blue01-site">Participer à la belle aventure</h2>
        	</div>
        </header>
        <p class="col-md-8 fs-4">
        	Quel que soit votre niveau de compétence dans le numérique, il y a de la place dans l'association en tant que membres, membres du bureau ou au Conseil d'Administration (CA).<br>
			Un peu de disponibilité et surtout l'envie de partager, d'apprendre, d'échanger et d'être impliqué dans un projet naissant sont les ingrédients pour le dynamisme de ce type d'association.<br>
			Dès à présent, si vous souhaitez vous impliquer, n'hésitez pas à prendre contact directement avec les membres fondateurs pour organiser une première rencontre.<br>
			Nous comptons aussi sur vous pour relayer cette information vers des personnes que vous pensez pouvoir être intéressées par cette initiative.<br>
        </p>
        <footer class="col-md-12" style="height:40px"></footer>
</section>
{% endblock app_central %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}