{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/watch.html.twig - date : 19 mars 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'app' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block app_central %}
<section class="container-fluid">
	<article class="container-fluid">
		<div class="col-md-12 text-center">
    		<div class="embed-responsive embed-responsive-16bx9 align-middle">
                <video id="video" controls="controls" preload="auto" autoplay="true">
                	<source src="/movie/VideoLeaderS2F3.mp4" type="video/mp4" /> {{ attention en prod il faut ajouter /public devant /movie }}
                	Video tag not supported. Download the video
                </video>
            </div>
        </div>
	</article>
</section>

{% endblock app_central %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}
