{#
 * This file is a part of the fablab portal package.
 *
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : home/what_fablab.html.twig - date : 3 nov. 2021
 
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'app' %}

{% extends 'layout_base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block app_central %}

<section class="container-fluid">
	<article class="container py-4">
	 	<header class="pb-5 mb-4 bg-light rounded-3">
	 		<div class="container-fluid py-5">
        	<h1 class="display-5 fw-bold app-text-blue01-site">C'est quoi un fablab ?</h2>
        	</div>
        </header>
        <p class="col-md-8 fs-4">
        Un Fab lab (pour fabrication laboratory en Anglais, ou laboratoire de fabrication en Français) est un lieu ouvert au public où sont mis à disposition toutes sortes d’outils et de machines, dans le but de concevoir et de réaliser des objets.<br>
        Une des composantes essentielles d’un FabLab est l’ouverture à tous. Ce sont des ateliers de fabrication destinés à tous ceux qui souhaitent s’initier à une pratique, transmettre un savoir ou simplement expérimenter.<br>
        Bricoleurs du dimanche ou spécialiste d’un domaine, designers, retraités, étudiants, ingénieurs, artistes, artisan, … Et ce quel que soit leur niveau de formation.
		Ces types de tiers-lieux, dont les valeurs de partage et de création collaborative sont au cœur du concept, sont organisés en réseaux à travers le monde, et implantés dans de très nombreux pays.<br>
		Par définition, presque tout peut être fabriqué dans un fab lab.<br>
		<div class="text-center">
		<a href="https://www.fablab.fr/" target="_blank">Réseau Français des FabLabs</a>
		</div>
        </p>
        </article>
        
	</article>
</section>

{% endblock app_central %}

{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}