{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : common/_no_items.html.twig - date : 19 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

<div class="border border-3 rounded-3 border-info d-flex align-items-center justify-content-center" style="height: 350px;">
	<h1 class="text-center text-info">{{ 'app.msg.no_items' | trans({}, 'app') }}</h1>
</div>