{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : document_management/category/_list.html.twig - date : 16 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

<div class="card text-dark bg-secondary mb-3 border border-info border-3 rounded-3">
	<div class="card-body">
		<h5 class="card-title text-center"> {{ category.name }}</h5>
		{% if category.documents is not empty %}
			{% for document in category.documents %}
			<a href="{{ path('document_read', {'documentName': document.documentName}) }}" onclick="window.open(this.href); return false;" >{{ document.title }}
			</a>
			-|- 
			{% endfor %}
		{% endif %}
	</div>
</div>