{#
 * This file is a part of the fablab_ portal package.
 * 
 * © Claude Migne <monkey3d@wanadoo.fr>
 *
 * file : document_management/document/watch.html.twig - date : 14 oct. 2022
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
#}

{% trans_default_domain 'document' %}

<div class="ratio ratio-1x1">
	<video id="video" controls="controls" autoplay="true" class="embed-responsive-item">
		<source src="{{ document }}" type="video/webm" />
		<source src="{{ document }}" type="video/mp4" />
		<source src="{{ document }}" type="video/ogg" />
		Video tag not supported. Download the video
	</video>
</div>